@import "../bulma-0.7.4/bulma"
@import "_variable"
@import "components/hero-banner"

body
    font-family: "Helvetica Neue", sans-serif
    font-size: 0.9em
    padding: 0
    margin: 0

hr 
    margin: .5rem 0
	
.is-fullwidth
	width: 100% !important