@import "../bulma-0.7.4/bulma"
@import "_variable"
@import "components/hero-banner"

body
	font-size: 0.9em
	padding: 0
	margin: 0

hr 
	margin: .5rem 0
	
.is-fullwidth
	width: 100% !important
	
.has-borderrediuszero
	border-radius: 0
	
.has-background-transparent
	background: transparent
	
.p-05
	padding: 0.5em
	
.p-1
	padding: 1em
	
.p-2
	padding: 2em
	
.hero_header
	background-image: url("../image/hero-header.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	min-height: 680px
	
.hero_men
	background-image: url("../image/hero-men.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	min-height: 690px
	
.hero_bag
	background-image: url("../image/hero-bag.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	min-height: 680px
	
.hero_women
	background-image: url("../image/hero-women.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	min-height: 900px