.hero_men
    background-image: url("../image/hero-men.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    min-height: 500px
	
.hero_women
    background-image: url("../image/hero-women.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    min-height: 600px

.hero_women hr
    background: #202020
    width: 30%
    margin: 0 0 15px 35%

@media (max-width: 1087px)
    .hero_women
        .button.is-dark.is-outlined
            background-color: #ffffff
            border-color: #ffffff
            color: #202020